# EDA

In [137]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.feature_selection import f_classif
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [138]:
df = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/regularized-linear-regression-project-tutorial/main/demographic_health_data.csv")
df.head()

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2

In [139]:
df.shape

(3140, 108)

The dataset is made up of 108 columns, of which we have to reduce in order to carry out the study, as analysing all of them would be an extensive and unproductive task.

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Columns: 108 entries, fips to Urban_rural_code
dtypes: float64(61), int64(45), object(2)
memory usage: 2.6+ MB

In [141]:
# Configures Pandas to display full DataFrames without truncation
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [142]:
# View all columns without truncation
df.head()

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,40-49,40-49 y/o % of total pop,50-59,50-59 y/o % of total pop,60-69,60-69 y/o % of total pop,70-79,70-79 y/o % of total pop,80+,80+ y/o % of total pop,White-alone pop,% White-alone,Black-alone pop,% Black-alone,Native American/American Indian-alone pop,% NA/AI-alone,Asian-alone pop,% Asian-alone,Hawaiian/Pacific Islander-alone pop,% Hawaiian/PI-alone,Two or more races pop,% Two or more races,POP_ESTIMATE_2018,N_POP_CHG_2018,GQ_ESTIMATES_2018,R_birth_2018,R_death_2018,R_NATURAL_INC_2018,R_INTERNATIONAL_MIG_2018,R_DOMESTIC_MIG_2018,R_NET_MIG_2018,Less than a high school diploma 2014-18,High school diploma only 2014-18,Some college or associate's degree 2014-18,Bachelor's degree or higher 2014-18,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,Percent of adults completing some college or associate's degree 2014-18,Percent of adults with a bachelor's degree or higher 2014-18,POVALL_2018,PCTPOVALL_2018,PCTPOV017_2018,PCTPOV517_2018,MEDHHINC_2018,CI90LBINC_2018,CI90UBINC_2018,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018,Active Physicians per 100000 Population 2018 (AAMC),Total Active Patient Care Physicians per 100000 Population 2018 (AAMC),Active Primary Care Physicians per 100000 Population 2018 (AAMC),Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC),Active General Surgeons per 100000 Population 2018 (AAMC),Active Patient Care General Surgeons per 100000 Population 2018 (AAMC),Total nurse practitioners (2019),Total physician assistants (2019),Total Hospitals (2019),Internal Medicine Primary Care (2019),Family Medicine/General Practice Primary Care (2019),Total Specialist Physicians (2019),ICU Beds_x,Total Population,Population Aged 60+,Percent of Population Aged 60+,COUNTY_NAME,STATE_NAME,STATE_FIPS,CNTY_FIPS,county_pop2018_18 and older,anycondition_prevalence,anycondition_Lower 95% CI,anycondition_Upper 95% CI,anycondition_number,Obesity_prevalence,Obesity_Lower 95% CI,Obesity_Upper 95% CI,Obesity_number,Heart disease_prevalence,Heart disease_Lower 95% CI,Heart disease_Upper 95% CI,Heart disease_number,COPD_prevalence,COPD_Lower 95% CI,COPD_Upper 95% CI,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,7582,13.636445,7738,13.917016,5826,10.478229,4050,7.284042,2014,3.622237,42660,76.725239,10915,19.630942,267,0.480207,681,1.224798,62,0.111509,1016,1.827305,55601,158,455,11.8,9.6,2.2,0.0,0.7,0.6,4204,12119,10552,10291,11.3,32.6,28.4,27.7,7587,13.8,19.3,19.5,59338,53628,65048,25957,25015,942,3.6,59338,119.0,217.1,196.7,77.2,71.2,7.6,6.9,28.859137,6.085786,1.148905,25.992561,21.249061,72.142154,6,55036,10523,19.1,Autauga,Alabama,1,1,42438,47.6,45.4,49.4,20181,35.8,34.2,37.3,15193,7.9,7.2,8.7,3345,8.6,7.3,9.9,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,27338,12.539102,29986,13.753658,29932,13.728890,20936,9.602701,9368,4.296814,190301,87.285228,19492,8.940382,1684,0.772399,2508,1.150343,146,0.066966,3891,1.784682,218022,5403,2190,10.5,10.3,0.1,0.5,24.3,24.8,14310,40579,46025,46075,9.7,27.6,31.3,31.3,21069,9.8,13.9,13.1,57588,54437,60739,93849,90456,3393,3.6,57588,115.5,217.1,196.7,77.2,71.2,7.6,6.9,113.162114,23.863512,4.505074,101.921730,83.321572,282.882982,51,203360,53519,26.3,Baldwin,Alabama,1,3,170912,40.2,38.2,42.3,68790,29.7,28.4,31.0,50761,7.8,7.0,8.7,13414,8.6,7.2,10.1,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,3074,12.354809,3278,13.174712,3076,12.362847,2244,9.018930,1048,4.212049,12209,49.069571,12042,48.398376,164,0.659137,113,0.454162,46,0.184880,307,1.233873,24881,-277,2820,10.4,12.9,-2.5,0.5,-9.1,-8.6,4901,6486,4566,2220,27.0,35.7,25.1,12.2,6788,30.9,43.9,36.7,34382,31157,37607,8373,7940,433,5.2,34382,68.9,217.1,196.7,77.2,71.2,7.6,6.9,12.914231,2.723340,0.514126,11.631462,9.508784,32.283033,5,26201,6150,23.5,Barbour,Alabama,1,5,19689,57.5,55.6,59.1,11325,40.7,39.5,41.9,8013,11.0,10.1,11.8,2159,12.1,10.7,13.3,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,3038,13.562500,3115,13.906250,2545,11.361607,1723,7.691964,785,3.504464,17211,76.834821,4770,21.294643,98,0.437500,53,0.236607,26,0.116071,242,1.080357,22400,-155,2151,11.1,11.4,-0.3,0.4,-7.0,-6.6,2650,7471,3846,1813,16.8,47.3,24.4,11.5,4400,21.8,27.8,26.3,46064,41283,50845,8661,8317,344,4.0,46064,92.3,217.1,196.7,77.2,71.2,7.6,6.9,11.626493,2.451783,0.462860,10.471635,8.560619,29.063942,0,22580,4773,21.1,Bibb,Alabama,1,7,17813,51.6,49.6,53.4,9190,38.7,37.4,40.2,6894,8.6,7.9,9.3,1533,10.0,8.8,11.3,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,7474,12.921853,7844,13.561549,6965,12.041840,4931,8.525242,2335,4.036999,55456,95.878285,950,1.642462,378,0.653527,185,0.319848,70,0.121024,801,1.384855,57840,13,489,11.8,11.4,0.3,0.1,-0.2,0.0,7861,13489,13267,5010,19.8,34.0,33.5,12.6,7527,13.2,18.0,15.5,50412,46157,54667,25006,24128,878,3.5,50412,101.1,217.1,196.7,77.2,71.2,7.6,6.9,30.021267,6.330854,1.195171,27.039257,22.104740,75.047251,6,57667,13600,23.6,Blount,Alabama,1,9,44448,46.3,44.3,48.4,20584,34.0,32.4,35.5,15112,9.2,8.4,10.1,4101,10.5,9.1,12.0,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2

In [143]:
# Resets the value of pandas to display truncated dataframes
pd.reset_option('all')

/tmp/ipykernel_5509/4261215448.py:2: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  pd.reset_option('all')

In [144]:
# Obtain null values
df.isnull().sum()

fips                      0
TOT_POP                   0
0-9                       0
0-9 y/o % of total pop    0
19-Oct                    0
                         ..
CKD_prevalence            0
CKD_Lower 95% CI          0
CKD_Upper 95% CI          0
CKD_number                0
Urban_rural_code          0
Length: 108, dtype: int64

In [145]:
# Obtain duplicates
df.duplicated().sum()

0

In [146]:
# Get the columns with data type "object"
object_columns = df.select_dtypes(include=['object']).columns
object_columns

Index(['COUNTY_NAME', 'STATE_NAME'], dtype='object')

In [147]:
# Converted the categoricals to numericals
for col in object_columns:
    df[col] = pd.factorize(df[col])[0]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Columns: 108 entries, fips to Urban_rural_code
dtypes: float64(61), int64(47)
memory usage: 2.6 MB

In [148]:
# Get data types of columns
data_types = df.dtypes

# Initialize StandardScaler
scaler = StandardScaler()

# Scale all variables, including those that were factorized
norm_features = scaler.fit_transform(df)

# Create a new DataFrame with all variables scaled
total_data_scal = pd.DataFrame(norm_features, index=df.index, columns=df.columns)
total_data_scal["diabetes_prevalence"] = df["diabetes_prevalence"]

# Show the first rows of the new DataFrame
total_data_scal.head()

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,-1.940874,-0.145679,-0.142421,0.158006,-0.135556,0.573496,-0.153144,0.027610,-0.139384,0.588469,...,-0.138900,12.9,-0.071720,-0.089834,-0.129902,-0.609615,-0.582796,-0.669652,-0.147523,-1.082865
1,-1.940742,0.341296,0.287476,-0.242861,0.320383,-0.193107,0.183774,-0.469965,0.230620,-0.110300,...,0.563986,12.0,-0.414900,-0.337677,0.376251,-0.433549,-0.393279,-0.343373,0.389791,-0.420704
2,-1.940610,-0.237785,-0.239429,-0.419441,-0.246181,-0.439718,-0.225971,0.272104,-0.218759,0.656538,...,-0.219763,19.7,2.483064,2.317776,-0.183415,1.855312,1.880929,1.777443,-0.204321,0.903618
3,-1.940478,-0.245223,-0.246032,-0.426966,-0.254791,-0.609076,-0.230792,0.396168,-0.220555,1.264959,...,-0.256918,14.1,0.423984,0.299632,-0.229096,-0.257483,-0.203761,-0.180233,-0.242100,-1.745026
4,-1.940346,-0.138966,-0.135053,0.186249,-0.137140,0.216679,-0.155888,-0.200808,-0.143570,0.088582,...,-0.074198,13.5,0.195197,0.158008,-0.111247,-0.081417,-0.014244,-0.017093,-0.124105,-1.745026

In [150]:
# Divide the dataset into training and test samples
X = df.drop('diabetes_prevalence', axis=1)
y = df['diabetes_prevalence']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 71)

In [154]:
# Feature selection 
train_index = list(X_train.index)
test_index = list(X_test.index)

k = int(len(X_train.columns) * 0.3)
selection_model = SelectKBest(score_func = f_regression, k = k)
selection_model.fit(X_train, y_train)
ix = selection_model.get_support()

X_train_sel = pd.DataFrame(selection_model.transform(X_train), columns = X_train.columns.values[ix])
X_test_sel = pd.DataFrame(selection_model.transform(X_test), columns = X_test.columns.values[ix])

X_train_sel.head()

,% White-alone,% Black-alone,R_death_2018,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,Percent of adults with a bachelor's degree or higher 2014-18,PCTPOVALL_2018,PCTPOV017_2018,PCTPOV517_2018,MEDHHINC_2018,...,Heart disease_Lower 95% CI,Heart disease_Upper 95% CI,COPD_prevalence,COPD_Lower 95% CI,COPD_Upper 95% CI,diabetes_Lower 95% CI,diabetes_Upper 95% CI,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI
0,0.647127,-0.557936,-0.135940,0.108842,0.154941,-0.293986,0.055545,0.246196,0.161446,-0.172093,...,0.800427,0.857050,0.940367,0.845366,0.980076,0.195197,0.299632,0.622848,0.554308,0.635465
1,0.757177,-0.565467,1.017714,-0.506607,1.962510,-0.421202,-0.026009,-0.023228,-0.123384,-0.503825,...,0.241092,0.336239,0.343248,0.222683,0.406134,-0.071720,0.051790,0.094650,-0.014244,0.146046
2,0.538737,-0.382979,-0.433657,-0.411923,1.322909,-0.580221,-0.482712,-0.708012,-0.750012,0.140295,...,-0.753281,-0.705384,0.044689,0.031088,-0.014757,-0.338638,-0.337677,-0.961748,-0.961830,-0.995931
3,-0.565644,-0.557130,-0.470872,-0.869564,-0.206573,0.289084,-0.874172,-0.966210,-1.034842,0.653104,...,-0.442540,-0.497060,-0.424476,-0.352101,-0.435648,-0.643687,-0.727143,-0.785681,-0.772313,-0.832792
4,-0.182207,0.125315,-0.024296,-0.711757,0.293985,-0.039556,0.349140,0.728913,0.605782,-0.313113,...,-0.069650,-0.184573,0.215294,0.270582,0.214820,-0.147983,-0.231458,-0.081417,-0.014244,-0.180233

In [155]:
X_test_sel.head()

,% White-alone,% Black-alone,R_death_2018,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,Percent of adults with a bachelor's degree or higher 2014-18,PCTPOVALL_2018,PCTPOV017_2018,PCTPOV517_2018,MEDHHINC_2018,...,Heart disease_Lower 95% CI,Heart disease_Upper 95% CI,COPD_prevalence,COPD_Lower 95% CI,COPD_Upper 95% CI,diabetes_Lower 95% CI,diabetes_Upper 95% CI,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI
0,-1.083385,1.414490,0.273421,0.661168,0.627690,-0.622626,0.120788,0.156388,0.104480,-0.242208,...,0.489685,0.336239,0.300597,0.366379,0.214820,0.729033,0.547474,0.798914,0.933342,0.798605
1,-0.118298,-0.430712,-0.582516,-1.232521,-1.624819,1.126586,-0.988348,-1.078470,-1.069022,1.708852,...,-1.188319,-1.226196,-1.320154,-1.310075,-1.353955,-1.024998,-1.081203,-1.137814,-1.151348,-1.159071
2,0.432694,-0.253306,-0.210369,1.892066,1.169960,-1.555540,3.024116,2.053578,2.121081,-1.635154,...,2.602728,2.419484,3.286191,3.431897,3.237582,2.254277,2.176151,1.679246,1.501894,1.614304
3,0.635162,-0.540805,-0.917448,-0.648634,0.488646,0.119464,-0.727375,-0.842724,-0.841157,0.681725,...,-0.628985,-0.601222,-0.040614,-0.112608,-0.014757,-0.948736,-0.904173,-0.785681,-0.772313,-0.832792
4,0.117249,-0.557066,-1.066306,-0.901126,-1.527489,1.306808,-0.042320,-0.752916,-0.772798,0.682804,...,-1.374764,-1.330358,-1.277503,-1.262177,-1.277430,-1.330047,-1.399857,-1.137814,-1.151348,-1.159071

In [157]:
# Add the target variable "diabetes_prevalence" to the selected features DataFrames
X_train_sel["diabetes_prevalence"] = list(y_train)
X_test_sel["diabetes_prevalence"] = list(y_test)

In [158]:
# Save train and test
X_train_sel.to_csv("/workspaces/ML-Regularized-Linear-Models-pilarzarco/data/processed/clean_train.csv", index = False)
X_test_sel.to_csv("/workspaces/ML-Regularized-Linear-Models-pilarzarco/data/processed/clean_test.csv", index = False)

In [159]:
# Concatenate df X_train and X_test_sel with feature selection
df = pd.concat([X_train_sel, X_test_sel])
df.head()

,% White-alone,% Black-alone,R_death_2018,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,Percent of adults with a bachelor's degree or higher 2014-18,PCTPOVALL_2018,PCTPOV017_2018,PCTPOV517_2018,MEDHHINC_2018,...,Heart disease_Upper 95% CI,COPD_prevalence,COPD_Lower 95% CI,COPD_Upper 95% CI,diabetes_Lower 95% CI,diabetes_Upper 95% CI,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,diabetes_prevalence
0,0.647127,-0.557936,-0.135940,0.108842,0.154941,-0.293986,0.055545,0.246196,0.161446,-0.172093,...,0.857050,0.940367,0.845366,0.980076,0.195197,0.299632,0.622848,0.554308,0.635465,13.7
1,0.757177,-0.565467,1.017714,-0.506607,1.962510,-0.421202,-0.026009,-0.023228,-0.123384,-0.503825,...,0.336239,0.343248,0.222683,0.406134,-0.071720,0.051790,0.094650,-0.014244,0.146046,13.1
2,0.538737,-0.382979,-0.433657,-0.411923,1.322909,-0.580221,-0.482712,-0.708012,-0.750012,0.140295,...,-0.705384,0.044689,0.031088,-0.014757,-0.338638,-0.337677,-0.961748,-0.961830,-0.995931,12.2
3,-0.565644,-0.557130,-0.470872,-0.869564,-0.206573,0.289084,-0.874172,-0.966210,-1.034842,0.653104,...,-0.497060,-0.424476,-0.352101,-0.435648,-0.643687,-0.727143,-0.785681,-0.772313,-0.832792,11.2
4,-0.182207,0.125315,-0.024296,-0.711757,0.293985,-0.039556,0.349140,0.728913,0.605782,-0.313113,...,-0.184573,0.215294,0.270582,0.214820,-0.147983,-0.231458,-0.081417,-0.014244,-0.180233,12.5

In [160]:
X_test_sel.head()

,% White-alone,% Black-alone,R_death_2018,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,Percent of adults with a bachelor's degree or higher 2014-18,PCTPOVALL_2018,PCTPOV017_2018,PCTPOV517_2018,MEDHHINC_2018,...,Heart disease_Upper 95% CI,COPD_prevalence,COPD_Lower 95% CI,COPD_Upper 95% CI,diabetes_Lower 95% CI,diabetes_Upper 95% CI,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,diabetes_prevalence
0,-1.083385,1.414490,0.273421,0.661168,0.627690,-0.622626,0.120788,0.156388,0.104480,-0.242208,...,0.336239,0.300597,0.366379,0.214820,0.729033,0.547474,0.798914,0.933342,0.798605,14.8
1,-0.118298,-0.430712,-0.582516,-1.232521,-1.624819,1.126586,-0.988348,-1.078470,-1.069022,1.708852,...,-1.226196,-1.320154,-1.310075,-1.353955,-1.024998,-1.081203,-1.137814,-1.151348,-1.159071,10.1
2,0.432694,-0.253306,-0.210369,1.892066,1.169960,-1.555540,3.024116,2.053578,2.121081,-1.635154,...,2.419484,3.286191,3.431897,3.237582,2.254277,2.176151,1.679246,1.501894,1.614304,19.1
3,0.635162,-0.540805,-0.917448,-0.648634,0.488646,0.119464,-0.727375,-0.842724,-0.841157,0.681725,...,-0.601222,-0.040614,-0.112608,-0.014757,-0.948736,-0.904173,-0.785681,-0.772313,-0.832792,10.6
4,0.117249,-0.557066,-1.066306,-0.901126,-1.527489,1.306808,-0.042320,-0.752916,-0.772798,0.682804,...,-1.330358,-1.277503,-1.262177,-1.277430,-1.330047,-1.399857,-1.137814,-1.151348,-1.159071,9.3